.about-us {
  position: relative;
  margin-bottom: 110px;
  padding-left: 193px;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -8px;
    width: 242px;
    height: 362px;
    background-image: url("../img/png/bg-company-2005-all-res@1x.png");
    background-repeat: no-repeat;
    background-size: 210px 317px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bg-company-2005-all-res@2x.png");
    }
  }
}

.about-us h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $second-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.about-us p {
  margin: 0;
  margin-bottom: 20px;
  max-width: 1000px;
}

.about-us__more-link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 19px;
  padding-top: 14px;
  padding-right: 50px;
  padding-bottom: 14px;
  padding-left: 50px;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 5px;

  &:hover {
    color: #ffffff;
    background-color: #00b2ff;
  }
}

.about-us__info-tablet {
  display: none;
}

@media (max-width: $tablet-width) {
  .about-us {
    margin-bottom: 84px;
    padding-left: 185px;

    &::before {
      top: 3px;
      left: -30px;
      background-size: 242px 362px;
    }
  }

  .about-us h2 {
    margin-bottom: 23px;
    font-size: 32px;
  }

  .about-us__info-desktop {
    display: none;
  }

  .about-us__info-tablet {
    display: inline;
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    position: relative;
    margin-bottom: 64px;
    padding-left: 0;

    &::before {
      content: none;
    }
  }

  .about-us h2 {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .about-us p {
    margin-bottom: 40px;
  }

  .about-us__more-link {
    margin-top: -11px;
  }
}
