.accordeon {
  display: none;
}

@media (max-width: $mobile-width) {
  .accordeon {
    display: block;
    position: relative;
    top: -40px;
    left: 93.9%;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 0;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--open {
      &::after {
        content: none;
      }
    }
  }

  .accordeon__list {
    margin-bottom: 45px;

    &--hide {
      display: none;
    }
  }
}
