.accordion {
  display: none;
}

@media (max-width: $mobile-width) {
  .accordion {
    display: block;
    position: relative;
    top: -40px;
    left: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 33px;
      left: 91.8%;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--open {
      &::after {
        content: none;
      }
    }
  }
}
