.container-background {
  &--header {
    height: 878px;
    background-image: url("../img/png/bg-header-desktop@1x.png");
    background-color: #1b2d37;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bg-header-desktop@2x.png");
      background-size: cover;
    }
  }

  &--service {
    background-color: #1b2d37;
  }

  &--form {
    background-color: #00b2ff;
  }

  &--footer {
    background-color: #fafafa;
  }
}

@media (max-width: $tablet-width) {
  .container-background {
    &--header {
      height: 685px;
      background-image: url("../img/png/bg-header-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-header-tablet@1x.png");
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .container-background {
    &--header {
      height: 647px;
      background-image: url("../img/png/bg-header-mobile@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-header-mobile@1x.png");
      }
    }
  }
}
