.link-modal {
  &--callback {
    align-self: flex-start;
    margin-top: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 179px;
    font-family: $second-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (max-width: $tablet-width) {
  .link-modal {
    &--callback {
      display: none;
    }
  }
}
