.modal {
  display: none;

  &--show {
    display: block;
  }

  &--error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
  }

  &--form {
    position: fixed;
    margin: auto;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    width: 490px;
    height: 605px;
    background-color: #00b2ff;
    z-index: 100;

    h3 {
      margin: 0;
      margin-bottom: 12px;
      font-family: $second-font;
      font-size: 28px;
      font-weight: 400;
      line-height: 39px;
      color: #ffffff;
    }

    p {
      margin: 0;
      margin-bottom: 34px;
      width: 90%;
      color: #ffffff;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-10px, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(10px, -50%);
  }
}
