.page-body {
  margin: 0;
  overflow: hidden;

  &--block-modal {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 402%;
      background-color: #020e14;
      opacity: 0.8;
      z-index: 99;
    }
  }
}
