.page-footer-social__logo {
  position: relative;
  display: flex;
  min-width: 232px;
  margin-bottom: 41px;
  padding-left: 16px;
}

.page-footer-social__logo img {
  height: fit-content;
}

.page-footer-social__logo div {
  padding-top: 4px;
  padding-left: 15px;
}

.page-footer-social__logo p {
  margin: 0;
  line-height: 20px;
}

.page-footer-social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 14px;
  list-style: none;
}

.page-footer-social__item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .page-footer-social__icon {
      fill: #00b2ff;
    }
  }
}

.page-footer-social__blink {
  display: none;
}

.page-footer-social__icon {
  fill: #999999;
}

@media (max-width: $tablet-width) {
  .page-footer-social {
    position: relative;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;

    &::after {
      position: absolute;
      content: "";
      width: 1500px;
      height: 1px;
      top: 76px;
      left: -50%;
      background-color: #626962;
      opacity: 0.5;
    }
  }

  .page-footer-social__logo {
    margin-bottom: 0;
    padding-left: 0;
  }

  .page-footer-social__list {
    padding-left: 0;
  }

  .page-footer-social__blink {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1b2d37;
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .page-footer-social {
    align-items: center;
    flex-direction: column;
    margin-bottom: 77px;

    &::after {
      top: 214px;
    }
  }

  .page-footer-social__logo {
    margin-bottom: 8px;
    padding-left: 9px;
  }

  .page-footer-social__logo + p {
    margin-bottom: 22px;
  }
}
