.page-footer-contacts h2 {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 2.1%;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.page-footer-contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 2.1%;
  height: 70%;
  list-style: none;
}

.page-footer-contacts__item {
  margin-bottom: 0;
}

.page-footer-contacts__item {
  &:first-child {
    margin-bottom: 3px;
    opacity: 0.5;
    letter-spacing: -0.6px;
  }
}

.page-footer-contacts__link {
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;

  &:hover {
    color: #00b2ff;
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
  .page-footer-contacts {
    margin-bottom: 20px;
    padding-left: 8px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer-contacts {
    position: relative;
    margin-bottom: 14px;
    padding-bottom: 1px;
    padding-left: 0;

    &::after {
      position: absolute;
      content: "";
      width: 1000px;
      height: 1px;
      bottom: 8px;
      left: -10%;
      background-color: #626962;
      opacity: 0.5;
    }
  }

  .page-footer-contacts h2,
  .page-footer-contacts__list {
    padding-left: 0;
  }

  .page-footer-contacts h2 {
    margin-bottom: 19px;
  }

  .page-footer-contacts__list {
    width: 90%;
  }
}
