.page-footer-rights {
  position: relative;
  grid-column: 1/-1;
  margin-top: -5px;
  padding-bottom: 15px;

  &::after {
    position: absolute;
    content: "";
    width: 3000px;
    height: 1px;
    top: -14px;
    left: -50%;
    background-color: #626962;
    opacity: 0.5;
  }
}

.page-footer-rights__list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  display: grid;
  grid-template-columns: 1fr 1.8fr 3fr 1fr;
  flex-wrap: wrap;
  list-style: none;
}

.page-footer-rights__item {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;

  &:nth-child(2n) {
    margin-left: 4%;
  }

  &:nth-child(3n) {
    margin-left: 3%;
  }

  &:last-child {
    margin-left: auto;
  }
}

@media (max-width: $tablet-width) {
  .page-footer-rights {
    &::after {
      top: -22px;
    }
  }

  .page-footer-rights__list {
    display: flex;
    padding-left: 0;
  }

  .page-footer-rights__blink {
    display: none;
  }

  .page-footer-rights__item {
    &:nth-child(2n),
    &:nth-child(3n) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-left: auto;
    }

    &--blink {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer-rights {
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }

  .page-footer-rights__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-footer-rights__item {
    margin-bottom: 21px;

    &--absolute {
      position: absolute;
      top: -622px;
      left: 29px;
    }

    // &:nth-child(3n) {
    //   margin-left: auto;
    //   margin-right: auto;
    // }

    &:nth-child(4n) {
      margin-left: 0;
    }
  }
}
