.page-footer-social__logo {
  display: flex;
  min-width: 232px;
  margin-bottom: 53px;
  padding-left: 16px;
}

.page-footer-social__logo img {
  height: fit-content;
}

.page-footer-social__logo div {
  padding-top: 4px;
  padding-left: 15px;
}

.page-footer-social__logo p {
  margin: 0;
  line-height: 20px;
}

.page-footer-social__logo-title {
  font-family: $second-font;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.page-footer-social__logo-subtitle {
  font-family: $third-font;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.page-footer-social__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 14px;
  list-style: none;
}

.page-footer-social__item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .page-footer-social__icon {
      fill: #00b2ff;
    }
  }
}

.page-footer-social__icon {
  fill: #999999;
}

@media (max-width: $tablet-width) {
  .page-footer-social {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .page-footer-social__logo {
    margin-bottom: 0;
    padding-left: 0;
  }

  .page-footer-social__list {
    padding-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer-social {
    align-items: center;
    flex-direction: column;
  }
}