.service-card {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    bottom: 34px;
    right: 26px;
    content: "";
    width: 6px;
    height: 1px;
    background-color: #ffffff;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    bottom: 38px;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.service-card__link {
  &:hover {
    img {
      opacity: 0.5;
    }

    &::after {
      box-shadow: 0 0 2px 4px #ffffff;
    }

  }

  &::after {
    position: absolute;
    content: "";
    bottom: 6px;
    right: 0;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;
    z-index: 1;
    cursor: pointer;
  }
}

.service-card h3 {
  position: absolute;
  top: 30px;
  left: 44px;
  width: 43%;
  font-family: $second-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.service-card img {
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .service-card img {
    width: 100%;
  }

  .service-card h3 {
    width: 22%;
    top: 18px;

    &::after {
      top: 173px;
      right: -318px;
    }
  }
}

@media (max-width: $mobile-width) {

  .service-card h3 {
    width: 56%;
    top: 1px;
  }
}
