.service {
  padding-top: 88px;
  padding-bottom: 105px;
  padding-left: 32px;
}

.service p {
  margin: 0;
  margin-bottom: 52px;
  font-family: $second-font;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 0;
  max-width: 1170px;
  list-style: none;
}

@media (max-width: $tablet-width) {
  .service {
    padding-top: 48px;
    padding-bottom: 34px;
    padding-left: 0;
  }

  .service p {
    width: 87%;
    font-size: 32px;
    line-height: 45px;
  }

  .service__list {
    display: block;
  }

  .service__item {
    margin-bottom: 39px;
  }
}

@media (max-width: $mobile-width) {
  .service {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  .service p {
    margin-bottom: 42px;
    padding-left: 10px;
    width: 100%;
    font-size: 28px;
    line-height: 39px;
  }

  .service__list {
    display: block;
  }

  .service__item {
    margin-bottom: 24px;
  }
}
