.smart-device-info__description {
  position: relative;
  margin: 0 auto;
  padding-left: 9px;
  max-width: 1422px;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 705px;
    height: 641px;
    top: -197px;
    left: 789px;
    background-image: url("../../img/svg/bg-triangle-desktop.svg");
    background-repeat: no-repeat;
  }

  &::after {
    width: 705px;
    height: 515px;
    top: -57px;
    left: 797px;
    background-image: url("../img/png/bg-circuit-board-all-res@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
      background-size: 705px 515px;
    }
  }
}

.smart-device-info__description h1 {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10;
}

.smart-device-info__description p {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  padding-left: 98px;
  max-width: 750px;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    top: 17px;
    left: 3px;
    background-color: #ffffff;
  }
}

.smart-device-info__link {
  color: #ffffff;

  &--consult {
    margin-left: 96px;
    padding-top: 18px;
    padding-right: 46px;
    padding-bottom: 17px;
    padding-left: 46px;
    font-family: $second-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00b2ff;
    border-radius: 5px;

    &:hover {
      background-color: #ce8703;
    }
  }

  &--downscroll {
    position: absolute;
    top: 417px;
    left: -28px;
    transform: rotate(270deg);
    font-size: 14px;
    opacity: 0.5;

    &:hover {
      color: #ce8703;
    }
  }
}

.smart-device-info__gallery img {
  position: relative;
  top: -200px;
  left: 0;
}

.smart-device-info__link-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .smart-device-info__description {
    padding-left: 63px;

    &::before {
      width: 605px;
      height: 541px;
      top: -200px;
      left: 700px;
      background-image: url("../../img/svg/bg-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-size: 465px 340px;
    }

    &::after {
      width: 465px;
      height: 340px;
      top: -75px;
      left: 485px;
      background-image: url("../img/png/bg-circuit-board-all-res@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
        background-size: 465px 340px;
      }
    }
  }

  .smart-device-info__description h1 {
    margin-bottom: 29px;
    max-width: 500px;
    font-size: 60px;
    line-height: 70px;
  }

  .smart-device-info__description p {
    margin-bottom: 73px;
    padding-left: 52px;
    max-width: 68%;
    font-size: 18px;
    line-height: 28px;

    &::after {
      width: 33px;
      height: 2px;
    }
  }

  .smart-device-info__link {
    color: #ffffff;

    &--consult {
      margin-left: 52px;
      padding-right: 30px;
      padding-left: 30px;
    }

    &--downscroll {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .smart-device-info__description {
    padding-left: 0;

    &::before {
      width: 605px;
      height: 541px;
      top: -200px;
      left: 700px;
      background-image: url("../../img/svg/bg-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-size: 465px 340px;
    }

    &::after {
      width: 301px;
      height: 220px;
      top: -194px;
      left: 11px;
      background-image: url("../img/png/bg-circuit-board-all-res@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
        background-size: 301px 220px;
      }
    }
  }

  .smart-device-info__description h1 {
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 47px;
  }

  .smart-device-info__description p {
    margin-bottom: 41px;
    max-width: 100%;
    font-size: 16px;
    line-height: 25px;

  &::after {
    top: 15px;
  }
  }

  .smart-device-info__link {
    color: #ffffff;

    &--consult {
      display: block;
      margin-left: 0;
      padding-right: 34px;
      padding-left: 33px;
    }

    &--downscroll {
      display: none;
    }
  }

  .smart-device-info__link-tablet {
    display: none;
  }

  .smart-device-info__link-mobile {
    display: inline;
  }
}
