.smart-device-info__description {
  position: relative;
  margin: 0 auto;
  // min-width: 718px;
  max-width: 1411px;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 705px;
    height: 641px;
    top: -200px;
    left: 700px;
    background-image: url("../../img/svg/bg-triangle-desktop.svg");
    background-repeat: no-repeat;
  }

  &::after {
    width: 705px;
    height: 515px;
    top: -100px;
    left: 700px;
    background-image: url("../img/png/bg-circuit-board-all-res@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
      background-size: 705px 515px;
    }
  }
}

.smart-device-info__description h1 {
  margin: 0;
  margin-bottom: 31px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.smart-device-info__description p {
  position: relative;
  margin: 0;
  margin-bottom: 37px;
  padding-left: 94px;
  max-width: 750px;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    top: 10px;
    left: 0;
    background-color: #ffffff;
  }
}

.smart-device-info__link {
  color: #ffffff;

  &--consult {
    margin-left: 93px;
    padding-top: 17px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    font-family: $second-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00b2ff;
    border-radius: 5px;
  }

  &--downscroll {
    position: absolute;
    top: 400px;
    left: 40px;
    transform: rotate(270deg);
    opacity: 0.5;
  }
}

.smart-device-info__gallery img {
  position: relative;
  top: -200px;
  left: 0;
}

.smart-device-info__link-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .smart-device-info__description {
    &::before {
      width: 605px;
      height: 541px;
      top: -200px;
      left: 700px;
      background-image: url("../../img/svg/bg-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-size: 465px 340px;
    }
  
    &::after {
      width: 465px;
      height: 340px;
      top: -100px;
      left: 500px;
      background-image: url("../img/png/bg-circuit-board-all-res@1x.png");
  
      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
        background-size: 465px 340px;
      }
    }
  }

  .smart-device-info__description h1 {
    max-width: 75%;
    font-size: 60px;
    line-height: 70px;
  }

  .smart-device-info__description p {
    margin-bottom: 37px;
    padding-left: 64px;
    max-width: 68%;
    font-size: 18px;
    line-height: 28px;

    &::after {
      width: 33px;
      height: 2px;
    }
  }

  .smart-device-info__link {
    color: #ffffff;

    &--consult {
      margin-left: 63px;
      padding-right: 14px;
      padding-left: 14px;
    }

    &--downscroll {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .smart-device-info__description {
    &::before {
      width: 605px;
      height: 541px;
      top: -200px;
      left: 700px;
      background-image: url("../../img/svg/bg-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-size: 465px 340px;
    }
  
    &::after {
      width: 301px;
      height: 220px;
      top: -200px;
      left: 0;
      background-image: url("../img/png/bg-circuit-board-all-res@1x.png");
  
      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/bg-circuit-board-all-res@2x.png");
        background-size: 301px 220px;
      }
    }
  }

  .smart-device-info__description h1 {
    font-size: 40px;
    line-height: 47px;
  }

  .smart-device-info__description p {
    max-width: 90%;
    font-size: 16px;
    line-height: 25px;
  }

  .smart-device-info__link {
    color: #ffffff;

    &--consult {
      margin-left: 0;
      padding-right: 11px;
      padding-left: 11px;
    }

    &--downscroll {
      display: none;
    }
  }

  .smart-device-info__link-tablet {
    display: none;
  }

  .smart-device-info__link-mobile {
    display: inline;
  }
}
