.write-us {
  position: relative;
  padding-top: 91px;
  padding-bottom: 113px;

  &::before {
    position: absolute;
    content: "";
    right: 600px;
    top: 100px;
    width: 686px;
    height: 487px;
    background-image: url("../img/png/bg-airplane-desktop@1x.png");
  }
}

.write-us h3 {
  margin: 0;
  margin-bottom: 10px;
  font-family: $second-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.write-us p {
  margin: 0;
  margin-bottom: 50px;
  color: #ffffff;
}

@media (max-width: $tablet-width) {
  .write-us {
    position: relative;
    padding-top: 77px;
    padding-bottom: 103px;

    &::before {
      content: none;
    }
  }

  .write-us h3 {
    margin-bottom: 13px;
    margin-right: 13px;
    margin-left: -3px;
    font-size: 32px;
  }

  .write-us p {
    margin-bottom: 54px;
  }
}

@media (max-width: $mobile-width) {
  .write-us {
    padding-top: 30px;
    padding-bottom: 61px;
  }

  .write-us h3 {
    padding-left: 3px;
    font-size: 28px;
    line-height: 39px;
  }

  .write-us p {
    margin-bottom: 27px;
  }
}
