.write-us-form {
  margin-left: auto;
  max-width: 570px;

  &--modal {
    padding-top: 33px;
    padding-right: 40px;
    padding-bottom: 36px;
    padding-left: 40px;
  }
}

.write-us-form textarea {
  margin-bottom: 40px;
  min-height: 154px;
}

.write-us-form__field {
  display: flex;
  margin-bottom: 40px;

  &--modal {
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 30px;
    }

    textarea {
      min-height: 104px;
      margin-bottom: 30px;
    }

    button {
      margin-right: 40px;
      padding-top: 14px;
      padding-right: 40px;
      padding-bottom: 14px;
      padding-left: 40px;
      width: 270px;
      font-family: $second-font;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.write-us-form__field label {
  flex-grow: 1;
  margin-right: 28px;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }
}

.write-us-form__field input,
.write-us-form textarea {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 16px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #19baff;
  border: none;
  opacity: 1;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px 3px #666666;
  }
}

.write-us-form__submit {
  display: flex;
}

.write-us-form__submit label {
  color: #ffffff;
}

.write-us-form__submit button {
  margin-right: 40px;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 14px;
  padding-left: 40px;
  min-width: 270px;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  order: -1;
}

@media (max-width: $tablet-width) {
  .write-us-form {
    margin: 0 auto;
    padding-left: 3px;
    max-width: 590px;
  }

  .write-us-form textarea {
    margin-bottom: 43px;
    padding-top: 16px;
    min-height: 162px;
  }

  .write-us-form__submit button {
    padding-right: 46px;
    padding-left: 46px;
    min-width: 280px;
  }
}

@media (max-width: $mobile-width) {
  .write-us-form {
    padding-left: 0;
  }

  .write-us-form__field {
    display: block;
    margin-bottom: 0;
  }

  .write-us-form__field input {
    margin-bottom: 32px;
  }

  .write-us-form textarea {
    margin-bottom: 27px;
    padding-top: 12px;
    min-height: 104px;
  }

  .write-us-form__submit {
    flex-direction: column;
  }

  .write-us-form__submit button {
    min-width: 290px;
  }
}
